/* @media screen and (max-width: 768px) {

} */

:root {
  --bg-color: #000000;
  --bg-color-2: #1e1e1e;
  --text-color: #ffffff;
  --tex-color-secondary: #acacac;
  --hover-color: #525252;
  --bg-gradient: radial-gradient(circle,
      #000000,
      #0c0c0c,
      #151515,
      #1c1c1c,
      #232323,
      #252525,
      #282828,
      #2a2a2a,
      #292929,
      #272727,
      #262626,
      #252525);
  --highligter-color: rgb(34, 78, 64);
  --danger-color: rgb(188, 48, 48);
  --danger-color-2: rgb(255, 255, 255);
  --left-door: rgb(64, 64, 64);
  --right-door: rgb(189, 189, 189);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  border: none !important;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  cursor: pointer;
}

/* INtro Loader */

.ag-intro-loader-container {
  height: 100vh;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.ag-intro-left-door,
.ag-intro-right-door {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 2;
}

.ag-intro-left-door {
  left: 0;
  background-color: var(--left-door);
}

.ag-intro-right-door {
  right: 0;
  background-color: var(--right-door);
}

.ag-intro-logo {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ag-intro-image img {
  border-radius: 20px;
}

.ag-intro-logo-title {
  font-size: 2rem;
  font-family: var(--font-montserrat);
  text-align: center;
}

.ag-main-content {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s ease;
}

.ag-main-content.visible {
  opacity: 1;
  pointer-events: auto;
}

.ag-main-content.hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .ag-intro-logo-title {
    font-size: 1rem;
    font-family: var(--font-montserrat);
  }
}


.ag-mute-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  color: var(--danger-color);
  border: none;
  outline: none;
  background: transparent;
  font-size: 32px;
  cursor: pointer;
}

.ag-mute-button:hover {
  transform: scale(1.1);
  color: var(--danger-color-2);
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-color-2);
}

.ag-header-container {
  width: 80%;
  display: flex;
}

.ag-header-image {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ag-header-image img {
  border-radius: 20px;
}

.ag-header-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.ag-header-content h1 {
  font-family: var(--font-montserrat);
  color: var(--text-color);
  font-size: 3rem;
  letter-spacing: 2px;
}

.ag-header-content .ag-header-content-sp {
  color: var(--hover-color);
}

@media screen and (max-width: 768px) {
  header {
    justify-content: space-between;
  }

  .ag-header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .ag-header-image {
    width: 100%;
    padding: 20px;
  }

  .ag-header-image img {
    height: 380px;
    width: auto;
  }

  .ag-header-content {
    width: 100%;
    align-items: center;
  }
}


/* Love Message as Typewriter */
.ag-love-message-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ag-love-message {
  width: 750px;
  height: 200px;
  border-radius: 20px;
  padding: 2px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--highligter-color);
}


.ag-love-message span {
  font-size: 1.5rem;
  font-family: var(--font-dancingScript);
  font-style: italic;
}

.ag-love-message .ag-lm-author {
  position: absolute;
  right: 30px;
  bottom: 20px;
  font-style: italic;
}


@media screen and (max-width: 768px) {
  .ag-love-message {
    width: 95%;
    height: 300px;
    margin-top: 50px;
  }
}

/*  PHOTO GALLERY */

.ag-photo-gallery-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg-color-2);
}

.ag-photo-gallery {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  gap: 20px;
  padding: 20px;
  justify-content: start;
  scroll-behavior: smooth;
}

/* Add fade effect on both sides */
.ag-photo-gallery::before,
.ag-photo-gallery::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.ag-photo-gallery::before {
  left: 0;
  background: linear-gradient(to right, rgb(31, 31, 31), transparent);
}

.ag-photo-gallery::after {
  right: 0;
  background: linear-gradient(to left, rgb(31, 31, 31), transparent);
}

.ag-photo-item img {
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.ag-photo-item img:hover {
  transform: scale(1.05);
}

.ag-photo-track {
  display: inline-flex;
  gap: 20px;
}

@media screen and (max-width: 768px) {

  .ag-photo-gallery::before,
  .ag-photo-gallery::after {
    width: 20px;
  }
}