/* @media screen and (max-width: 768px) {

} */

:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --tex-color-secondary: #acacac;
  --hover-color: #525252;
  --bg-gradient: radial-gradient(circle,
      #000000,
      #0c0c0c,
      #151515,
      #1c1c1c,
      #232323,
      #252525,
      #282828,
      #2a2a2a,
      #292929,
      #272727,
      #262626,
      #252525);
  --highligter-color: rgb(34, 78, 64);
  --danger-color: rgb(188, 48, 48);
  --danger-color-2: rgb(255, 255, 255);
  --left-door: rgb(64, 64, 64);
  --right-door: rgb(189, 189, 189);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  border: none !important;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  cursor: pointer;
}

/* INtro Loader */

.ag-intro-loader-container {
  height: 100vh;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.ag-intro-left-door,
.ag-intro-right-door {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 2;
}

.ag-intro-left-door {
  left: 0;
  background-color: var(--left-door);
}

.ag-intro-right-door {
  right: 0;
  background-color: var(--right-door);
}

.ag-intro-logo {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ag-intro-image img {
  border-radius: 20px;
}

.ag-intro-logo-title {
  font-size: 2rem;
  font-family: var(--font-montserrat);
  text-align: center;
}

.ag-main-content {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s ease;
}

.ag-main-content.visible {
  opacity: 1;
  pointer-events: auto;
}

.ag-main-content.hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .ag-intro-logo-title {
    font-size: 1rem;
    font-family: var(--font-montserrat);
  }
}


header {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  overflow: hidden;

  /* Frosted glass effect */
  background: rgba(255, 255, 255, 0.064);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
}

header h1 {
  font-family: var(--font-dancingScript), sans-serif;
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
}

header h3 {
  font-family: var(--font-poppins), sans-serif;
  text-align: center;
  font-weight: 300;
}

.heart1 {
  position: absolute;
  top: 0%;
  left: 20px;
  font-size: 80px;
  color: red;
  transform: rotate(-60deg);
  animation: scalePulse 2s infinite ease-in-out;
}

@keyframes scalePulse {

  0%,
  100% {
    transform: rotate(-60deg) scale(0.7);
  }

  50% {
    transform: rotate(60deg) scale(0.9);
    color: var(--danger-color-2);
  }
}

.heart2 {
  position: absolute;
  top: 0%;
  right: 20px;
  font-size: 80px;
  color: red;
  transform: rotate(60deg);
  animation: scalePulse2 2s infinite ease-in-out;
}

@keyframes scalePulse2 {

  0%,
  100% {
    transform: rotate(60deg) scale(0.7);
  }

  50% {
    transform: rotate(-60deg) scale(0.9);
    color: var(--danger-color-2);
  }
}


@media screen and (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  header h3 {
    font-size: 1rem;
  }

  .heart1 {
    font-size: 50px;
    top: 25%;
    left: 5px;
  }

  .heart2 {
    font-size: 50px;
    top: 25%;
    right: 5px;
  }
}


/* Love Message as Typewriter */
.ag-love-message-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ag-love-message {
  width: 750px;
  height: 200px;
  border-radius: 20px;
  padding: 2px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--highligter-color);
  margin-top: 100px;
}


.ag-love-message span {
  font-size: 1.5rem;
  font-family: var(--font-dancingScript);
  font-style: italic;
}

.ag-love-message .ag-lm-author {
  position: absolute;
  right: 30px;
  bottom: 20px;
  font-style: italic;
}


@media screen and (max-width: 768px) {
  .ag-love-message {
    width: 95%;
    height: 300px;
    margin-top: 50px;
  }
}